.u-section-1 .u-sheet-1 {
  min-height: 112px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  align-self: center;
  margin: 0 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: -12px 0 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 849px;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 5px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 35px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 5px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 35px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 5px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 35px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 5px 0 30px;
}