.u-section-1 .u-sheet-1 {
  min-height: 157px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 713px;
}

.u-section-2 .u-tabs-1 {
  min-height: 653px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: auto;
}

.u-section-2 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  margin: 30px 0 0;
}

.u-section-2 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 30px 0 0;
}

.u-section-2 .u-line-4 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px 0 0;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-line-5 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1080px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 30px 0;
}

.u-section-2 .u-line-6 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1080px;
  margin: 30px auto 0;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-line-7 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-line-8 {
  height: 3px;
  transform-origin: left center 0px;
  margin-bottom: 0;
  margin-top: 30px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    min-height: 404px;
  }

  .u-section-2 .u-tab-pane-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-tab-pane-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-5 {
    width: 940px;
    margin-top: 97px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -100px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-line-6 {
    width: 940px;
  }

  .u-section-2 .u-tab-pane-4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-line-7 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: -50px;
  }

  .u-section-2 .u-line-8 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-5 {
    width: 720px;
    margin-top: 297px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -300px;
  }

  .u-section-2 .u-line-6 {
    width: 720px;
  }

  .u-section-2 .u-line-7 {
    margin-top: 122px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: -125px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-5 {
    width: 540px;
    margin-top: 597px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -600px;
  }

  .u-section-2 .u-line-6 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-7 {
    margin-top: 197px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: -200px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-3 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-5 {
    width: 340px;
    margin-top: 1197px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -1200px;
  }

  .u-section-2 .u-line-6 {
    width: 340px;
  }

  .u-section-2 .u-line-7 {
    margin-top: 372px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-top: -375px;
  }
}