.u-section-1 {
  background-image: none;
  min-height: 820px;
}

.u-section-1 .u-image-1 {
  width: 425px;
  height: 377px;
  margin: 443px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 425px;
  height: 375px;
  margin: -820px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 604px;
  margin: -375px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-3 {
  width: 52px;
  height: 52px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 100;
  font-style: normal;
  font-family: Roboto, sans-serif;
  margin: 30px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 39px 1px 0;
}

.u-section-1 .u-group-1 {
  width: 819px;
  min-height: 120px;
  margin: 22px auto 60px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 1px auto 0 0;
  padding: 10px 77px 10px 76px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: -45px auto 0 584px;
  padding: 10px 30px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: -46px auto 0;
  padding: 10px 74px 11px 73px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  margin: 29px auto 0 584px;
  padding: 10px 80px 10px 79px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  margin: -45px auto 0;
  padding: 10px 82px 10px 81px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none;
  align-self: center;
  margin: -46px auto 0 0;
  padding: 10px 62px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 570px;
    height: 505px;
  }

  .u-section-1 .u-image-2 {
    width: 161px;
    height: 367px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 1140px) / 2) + 268px);
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-1 .u-text-3 {
    width: 280px;
  }

  .u-section-1 .u-group-1 {
    width: 800px;
    min-height: 536px;
    margin-top: 20px;
    margin-left: calc(((100% - 1140px) / 2) + 268px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: -45px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-top: 321px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -45px;
    margin-right: 331px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: 143px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-left: 143px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -286px;
    margin-left: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 332px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 250px;
    margin-top: -54px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: 485px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 232px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: -45px;
    margin-left: auto;
    margin-right: 232px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 479px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-3 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: 305px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 52px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 174px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 302px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -730px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -300px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: 105px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}.u-section-2 {
  min-height: 1561px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1541px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0 80px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 30px 531px 0 -80px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  margin: 20px -16px 0 -80px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 1541px;
  background-image: url("images/11.jpeg");
  background-position: 42.22% 0%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-line-1 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 10px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1237px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1217px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 1217px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 952px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 359px;
  }

  .u-section-2 .u-image-1 {
    min-height: 932px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1868px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1748px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1221px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-text-1 {
    margin-right: 159px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1101px;
  }
}.u-section-3 {
  min-height: 1256px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 1px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1234px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 80px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 30px 599px 0 -80px;
}

.u-section-3 .u-gallery-1 {
  height: 1145px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  width: 154px;
  margin: 30px -1px 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  margin: -1145px 234px 0 -80px;
}

.u-section-3 .u-line-1 {
  margin-top: 10px;
  margin-bottom: 1px;
  height: 10px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 997px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 975px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 122px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 359px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-text-1 {
    margin-right: 159px;
  }
}.u-section-4 {
  min-height: 840px;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 836px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 100;
  margin: 0 80px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 80px 0 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 329px;
  margin: 30px auto 0 350px;
}

.u-section-4 .u-text-3 {
  margin: 30px 80px 0 0;
}

.u-section-4 .u-line-1 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 10px;
  transform-origin: right center 0px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 718px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 660px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 147px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    height: 312px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 196px;
  }
}.u-section-5 {
  min-height: 1051px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1190px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -50px);
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1031px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 80px 0;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 1022px;
  margin: -21px -160px 0 auto;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 100;
  margin: -1001px 0 0 -80px;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  margin: 20px 440px 0 -80px;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-line-1 {
  height: 10px;
  transform-origin: right center 0px;
  margin-top: 10px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 834px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 814px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 1195px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -236px;
    margin-right: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 120px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 1291px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -332px;
    margin-right: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 1515px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -556px;
    margin-right: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 574px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 1630px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -1004px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 {
  min-height: 272px;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 0 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 252px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 80px 0;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 100;
  margin: 0 80px 0 -80px;
}

.u-section-6 .u-text-2 {
  margin: 26px 0 0 -80px;
}

.u-section-6 .u-line-1 {
  height: 10px;
  transform-origin: right center 0px;
  margin-bottom: 0;
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 213px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 199px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 90px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
}.u-section-7 {
  min-height: 1152px;
}

.u-section-7 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  margin: 0 0 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 1102px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 80px 0;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 100;
  margin: 0 80px 0 -80px;
}

.u-section-7 .u-text-2 {
  margin: 26px 30px 0 -80px;
}

.u-section-7 .u-line-1 {
  height: 10px;
  transform-origin: right center 0px;
  margin-bottom: 30px;
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 909px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 870px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 95px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
}