.u-section-1 {
  background-image: none;
  min-height: 1067px;
}

.u-section-1 .u-image-1 {
  width: 425px;
  height: 375px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 604px;
  margin: -375px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 52px;
  height: 52px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 100;
  font-style: normal;
  font-family: Roboto, sans-serif;
  margin: 30px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 39px 1px 0;
}

.u-section-1 .u-image-3 {
  width: 425px;
  height: 377px;
  margin: 158px 0 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  width: 932px;
  background-image: none;
  margin: -515px auto 44px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 233px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: times-new-roman;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 233px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 32px auto 0;
}

.u-section-1 .u-text-5 {
  font-family: times-new-roman;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 233px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 32px auto 0;
}

.u-section-1 .u-text-6 {
  font-family: times-new-roman;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 268px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-7 {
  font-family: times-new-roman;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 268px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-8 {
  font-family: times-new-roman;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 268px;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-9 {
  font-family: times-new-roman;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 161px;
    height: 367px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 1140px) / 2) + 268px);
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-1 .u-text-3 {
    width: 280px;
  }

  .u-section-1 .u-image-3 {
    width: 570px;
    height: 505px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-5 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-6 {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 530px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-3 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 479px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 380px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -300px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 302px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-top: -440px;
  }
}