.u-section-1 .u-sheet-1 {
  min-height: 112px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  align-self: center;
  margin: 0 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: -12px 0 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 165px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 60px;
}