.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/7963ebb5c5629e7c3f9e33c74309e031eeb13cfd4a84d997c8374cd2ca480cce700ef00ac8f783c4e9c32baa78dab9d16c03a13579fb6f6f7a8820_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 824px;
}

.u-section-1 .u-shape-1 {
  width: 461px;
  height: 461px;
  margin: 198px 23px 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  font-size: 6.25rem;
  margin: -412px 665px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 494px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 465px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 245px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-shape-1 {
    width: 334px;
    height: 334px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 65px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-shape-1 {
    width: 255px;
    height: 255px;
    margin-top: 85px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: -205px;
    margin-right: 35px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 327px;
}

.u-section-2 .u-shape-1 {
  width: 221px;
  height: 55px;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 20px 570px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 {
  min-height: 435px;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  grid-gap: 10px 10px;
  margin: 30px 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 12px 12px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-image-2 {
  object-position: 71% 88.46%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-image-3 {
  object-position: 74.89% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-image-4 {
  object-position: 33.59% 50%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 381px;
  }

  .u-section-3 .u-gallery-1 {
    height: 289px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 941px;
  }

  .u-section-3 .u-gallery-1 {
    height: 885px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 2947px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2655px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1832px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1672px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  min-height: 758px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  width: 900px;
  margin: 30px auto 0;
}

.u-section-4 .u-shape-1 {
  height: 200px;
  margin-top: 196px;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1140px;
  margin: -352px auto 30px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 549px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-4 .u-image-1 {
  width: 150px;
  height: 150px;
  background-image: url("images/image5.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 320px;
  min-height: 111px;
  margin: -125px -19px 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 25px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 2px 0 -2px;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0 -12px;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-4 .u-image-2 {
  width: 150px;
  height: 150px;
  background-image: url("images/image3.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-2 {
  width: 320px;
  min-height: 111px;
  margin: -125px -19px 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding-right: 0;
  padding-left: 25px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 2px 0 -2px;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0 -12px;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-4 .u-image-3 {
  width: 150px;
  height: 150px;
  background-image: url("images/image4.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-3 {
  width: 320px;
  min-height: 111px;
  margin: -125px -19px 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding-right: 0;
  padding-left: 25px;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 2px 0 -2px;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0 -12px;
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-4 .u-image-4 {
  width: 150px;
  height: 150px;
  background-image: url("images/image6.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-4 {
  width: 320px;
  min-height: 111px;
  margin: -125px -19px 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding-right: 0;
  padding-left: 25px;
}

.u-section-4 .u-text-11 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 2px 0 -2px;
}

.u-section-4 .u-text-13 {
  margin: 20px 0 0 -12px;
}

.u-section-4 .u-btn-4 {
  padding: 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-4 .u-image-5 {
  width: 150px;
  height: 150px;
  background-image: url("images/image1.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-5 {
  width: 320px;
  min-height: 111px;
  margin: -125px -19px 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding-right: 0;
  padding-left: 25px;
}

.u-section-4 .u-text-14 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 2px 0 -2px;
}

.u-section-4 .u-text-16 {
  margin: 20px 0 0 -12px;
}

.u-section-4 .u-btn-5 {
  padding: 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 40px;
}

.u-section-4 .u-image-6 {
  width: 150px;
  height: 150px;
  background-image: url("images/idrisnewpic.png");
  background-position: 0% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-group-6 {
  width: 320px;
  min-height: 111px;
  margin: -125px -19px 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding-right: 0;
  padding-left: 25px;
}

.u-section-4 .u-text-17 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-18 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 2px 0 -2px;
}

.u-section-4 .u-text-19 {
  margin: 20px 0 0 -12px;
}

.u-section-4 .u-btn-6 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 662px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-1 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-1 {
    width: 200px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-2 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-2 {
    width: 200px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-3 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-3 {
    width: 200px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-4 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-4 {
    width: 200px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-5 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-5 {
    width: 200px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-image-6 {
    width: 183px;
    height: 183px;
  }

  .u-section-4 .u-group-6 {
    width: 200px;
    margin-top: -183px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1597px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 79px;
    margin-right: 79px;
    width: 720px;
  }

  .u-section-4 .u-shape-1 {
    height: 800px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-1 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-2 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-3 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-4 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-5 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-5 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-6 {
    width: 243px;
    height: 243px;
  }

  .u-section-4 .u-group-6 {
    width: 397px;
    margin-top: -243px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1250px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-1 {
    width: 320px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-2 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-2 {
    width: 320px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-3 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-3 {
    width: 320px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-4 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-4 {
    width: 320px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-12 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-5 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-5 {
    width: 320px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-14 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-15 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-6 {
    width: 214px;
    height: 214px;
  }

  .u-section-4 .u-group-6 {
    width: 320px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-4 .u-text-17 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-18 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 864px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-2 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-3 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-8 {
    width: auto;
  }

  .u-section-4 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-4 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-4 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-11 {
    width: auto;
  }

  .u-section-4 .u-text-12 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-5 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-5 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-14 {
    width: auto;
  }

  .u-section-4 .u-text-15 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-6 {
    width: 255px;
    height: 255px;
  }

  .u-section-4 .u-group-6 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-17 {
    width: auto;
  }

  .u-section-4 .u-text-18 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/Green-Tropical-Plant-Wallpaper-Mural-Plain1.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 666px;
}

.u-section-5 .u-accordion-1 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.u-section-5 .u-accordion-link-1 {
  font-size: 3rem;
  text-decoration: underline !important;
  font-weight: 700;
  font-family: "Archivo Black";
}

.u-section-5 .u-icon-1 {
  height: 50px;
  width: 50px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 260px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-top: 0;
}

.u-section-5 .u-accordion-link-2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Archivo Black";
  text-decoration: underline;
}

.u-section-5 .u-icon-2 {
  height: 50px;
  width: 50px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 260px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-top: 0;
}

.u-section-5 .u-accordion-link-3 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Archivo Black";
  text-decoration: underline !important;
  margin-bottom: 0;
}

.u-section-5 .u-icon-3 {
  height: 50px;
  width: 50px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 260px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-accordion-link-4 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Archivo Black";
  text-decoration: underline;
}

.u-section-5 .u-icon-4 {
  height: 50px;
  width: 50px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 260px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin-top: 0;
}

.u-section-5 .u-accordion-link-5 {
  font-size: 3rem;
  text-decoration: underline !important;
  font-weight: 700;
  font-family: "Archivo Black";
}

.u-section-5 .u-icon-5 {
  height: 50px;
  width: 50px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-5 {
  min-height: 260px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin-top: 0;
}

.u-section-5 .u-accordion-link-6 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Archivo Black";
  text-decoration: underline;
}

.u-section-5 .u-icon-6 {
  height: 50px;
  width: 50px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-6 {
  min-height: 260px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-5 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-5 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-5 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-5 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-5 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-5 .u-accordion-pane-6 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-5 .u-accordion-link-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-accordion-link-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-accordion-link-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-accordion-link-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-accordion-link-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-accordion-link-6 {
    font-size: 2.25rem;
  }
}.u-section-6 {
  min-height: 771px;
}

.u-section-6 .u-text-1 {
  margin: 30px calc(((100% - 1140px) / 2)) 0;
}

.u-section-6 .u-shape-1 {
  height: 200px;
  margin-top: 115px;
  margin-bottom: 0;
}

.u-section-6 .u-group-1 {
  width: 373px;
  min-height: 505px;
  height: auto;
  margin: -285px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-container-layout-1 {
  padding: 15px 8px 0 10px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 1px;
}

.u-section-6 .u-group-2 {
  width: 767px;
  min-height: 510px;
  height: auto;
  margin: -505px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-6 .u-text-3 {
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0;
}

.u-section-6 .u-accordion-1 {
  width: 1140px;
  margin: 30px auto;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 50px;
  width: 50px;
  background-image: none;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 3033px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-6 .u-group-3 {
  min-height: 3001px;
  width: 1200px;
  height: auto;
  margin: 0 -30px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-6 .u-group-4 {
  width: 600px;
  min-height: 610px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-6 .u-icon-2 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 -30px;
}

.u-section-6 .u-group-5 {
  width: 598px;
  min-height: 220px;
  margin: 15px auto 0 -30px;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px 0 10px 10px;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  font-style: normal;
  margin: 0 28px 0 0;
}

.u-section-6 .u-group-6 {
  width: 600px;
  min-height: 429px;
  height: auto;
  margin: -104px 0 0 auto;
}

.u-section-6 .u-container-layout-7 {
  padding: 29px 30px 0;
}

.u-section-6 .u-icon-3 {
  height: 100px;
  width: 100px;
  margin: 2px -28px 0 auto;
}

.u-section-6 .u-group-7 {
  width: 598px;
  min-height: 285px;
  margin: 13px auto 0 -30px;
}

.u-section-6 .u-container-layout-8 {
  padding: 10px 0 0 10px;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  font-style: normal;
  margin: 0 28px 0 0;
}

.u-section-6 .u-group-8 {
  width: 600px;
  min-height: 361px;
  height: auto;
  margin: -63px auto 0 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 1px 30px 0;
}

.u-section-6 .u-icon-4 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 -30px;
}

.u-section-6 .u-group-9 {
  width: 598px;
  min-height: 220px;
  margin: 15px auto 0 -30px;
}

.u-section-6 .u-container-layout-10 {
  padding: 10px 0 10px 10px;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  font-style: normal;
  margin: 0 28px 0 0;
}

.u-section-6 .u-group-10 {
  width: 600px;
  min-height: 398px;
  height: auto;
  margin: -60px 0 0 auto;
}

.u-section-6 .u-container-layout-11 {
  padding: 0 30px;
}

.u-section-6 .u-icon-5 {
  height: 100px;
  width: 100px;
  margin: 0 -28px 0 auto;
}

.u-section-6 .u-group-11 {
  width: 598px;
  min-height: 185px;
  margin: 13px auto 0 -30px;
}

.u-section-6 .u-container-layout-12 {
  padding-right: 0;
  padding-left: 10px;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  font-style: normal;
  margin: 10px 28px 0 0;
}

.u-section-6 .u-group-12 {
  width: 600px;
  min-height: 560px;
  height: auto;
  margin: -56px auto 0 0;
}

.u-section-6 .u-container-layout-13 {
  padding: 0 30px;
}

.u-section-6 .u-icon-6 {
  height: 100px;
  width: 100px;
  margin: 0 auto 0 -30px;
}

.u-section-6 .u-group-13 {
  width: 598px;
  min-height: 220px;
  margin: 15px auto 0 -30px;
}

.u-section-6 .u-container-layout-14 {
  padding: 10px 0 10px 10px;
}

.u-section-6 .u-text-8 {
  font-size: 1rem;
  font-style: normal;
  margin: 0 28px 0 0;
}

.u-section-6 .u-group-14 {
  width: 600px;
  min-height: 423px;
  margin: -54px 0 0 auto;
}

.u-section-6 .u-container-layout-15 {
  padding: 0 30px;
}

.u-section-6 .u-icon-7 {
  height: 100px;
  width: 100px;
  margin: 0 -28px 0 auto;
}

.u-section-6 .u-group-15 {
  width: 598px;
  min-height: 110px;
  margin: 13px auto 0 -30px;
}

.u-section-6 .u-container-layout-16 {
  padding-right: 0;
  padding-left: 10px;
}

.u-section-6 .u-text-9 {
  font-size: 1rem;
  font-style: normal;
  margin: 10px 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-6 .u-group-2 {
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-6 .u-accordion-1 {
    width: 940px;
  }

  .u-section-6 .u-group-3 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-6 .u-group-4 {
    height: auto;
  }

  .u-section-6 .u-group-5 {
    width: 540px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-group-6 {
    height: auto;
  }

  .u-section-6 .u-group-7 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
  }

  .u-section-6 .u-group-8 {
    height: auto;
  }

  .u-section-6 .u-group-9 {
    width: 540px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-group-10 {
    height: auto;
  }

  .u-section-6 .u-group-11 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-group-12 {
    height: auto;
  }

  .u-section-6 .u-group-13 {
    width: 540px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-group-15 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-group-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-accordion-1 {
    width: 720px;
  }

  .u-section-6 .u-group-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-group-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-accordion-1 {
    width: 540px;
  }

  .u-section-6 .u-group-3 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-4 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-5 {
    width: 500px;
  }

  .u-section-6 .u-group-6 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-7 {
    width: 500px;
  }

  .u-section-6 .u-group-8 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-9 {
    width: 500px;
  }

  .u-section-6 .u-group-10 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-11 {
    width: 500px;
  }

  .u-section-6 .u-group-12 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-13 {
    width: 500px;
  }

  .u-section-6 .u-group-14 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-15 {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-accordion-1 {
    width: 340px;
  }

  .u-section-6 .u-group-3 {
    width: 340px;
  }

  .u-section-6 .u-group-4 {
    width: 320px;
  }

  .u-section-6 .u-group-5 {
    width: 300px;
  }

  .u-section-6 .u-group-6 {
    width: 320px;
  }

  .u-section-6 .u-group-7 {
    width: 300px;
  }

  .u-section-6 .u-group-8 {
    width: 320px;
  }

  .u-section-6 .u-group-9 {
    width: 300px;
  }

  .u-section-6 .u-group-10 {
    width: 320px;
  }

  .u-section-6 .u-group-11 {
    width: 300px;
  }

  .u-section-6 .u-group-12 {
    width: 320px;
  }

  .u-section-6 .u-group-13 {
    width: 300px;
  }

  .u-section-6 .u-group-14 {
    width: 320px;
  }

  .u-section-6 .u-group-15 {
    width: 300px;
  }
}.u-section-7 {
  min-height: 469px;
}

.u-section-7 .u-text-1 {
  margin: 30px 75px 0 80px;
}

.u-section-7 .u-table-1 {
  width: 1020px;
  margin: 30px auto;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-block-e47a-50 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-table-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 678px;
}

.u-section-8 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-8 .u-accordion-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-8 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0;
  padding: 10px 30px;
}

.u-section-8 .u-icon-1 {
  color: rgb(153, 153, 153);
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 104px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin: 0;
}

.u-section-8 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 30px;
}

.u-section-8 .u-icon-2 {
  color: rgb(153, 153, 153);
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-2 {
  min-height: 104px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin: 0;
}

.u-section-8 .u-accordion-link-3 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 30px;
}

.u-section-8 .u-icon-3 {
  color: rgb(153, 153, 153);
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-3 {
  min-height: 104px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  margin: 0;
}

.u-section-8 .u-accordion-link-4 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 30px;
}

.u-section-8 .u-icon-4 {
  color: rgb(153, 153, 153);
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-4 {
  min-height: 104px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-5 {
  margin: 0 30px;
}

.u-section-8 .u-accordion-link-5 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 30px;
}

.u-section-8 .u-icon-5 {
  color: rgb(153, 153, 153);
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-5 {
  min-height: 104px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-text-6 {
  margin: 0;
}

.u-section-8 .u-accordion-link-6 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 30px;
}

.u-section-8 .u-icon-6 {
  color: rgb(153, 153, 153);
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-8 .u-accordion-pane-6 {
  min-height: 104px;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-text-7 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 514px;
}

.u-section-9 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-9 .u-table-1 {
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 0;
}

.u-block-bb57-4 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-block-bb57-10 {
  height: 46px;
}

.u-section-9 .u-table-cell-1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-9 .u-table-cell-2 {
  background-image: none;
}

.u-section-9 .u-table-cell-3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-9 .u-table-cell-4 {
  background-image: none;
}

.u-section-9 .u-table-cell-5 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-9 .u-table-cell-6 {
  background-image: none;
}

.u-section-9 .u-table-cell-7 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-9 .u-table-cell-8 {
  background-image: none;
}

.u-section-9 .u-table-cell-9 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-9 .u-table-cell-10 {
  background-image: none;
}

.u-section-9 .u-table-cell-11 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-9 .u-table-cell-12 {
  background-image: none;
}

.u-block-bb57-23 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-top: 221px;
  }

  .u-section-9 .u-table-1 {
    margin-bottom: 16px;
    margin-top: -91px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-top: 421px;
  }

  .u-section-9 .u-table-1 {
    margin-bottom: 0;
    margin-top: -291px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-top: 671px;
  }

  .u-section-9 .u-table-1 {
    margin-top: -541px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-top: 1030px;
  }

  .u-section-9 .u-table-1 {
    margin-top: -925px;
    margin-left: initial;
  }
}
