.u-section-1 .u-sheet-1 {
  min-height: 112px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: -82px 0 60px auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 128px;
}

.u-section-2 .u-accordion-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-2 .u-accordion-link-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-2 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 3088px;
  margin-right: 0;
  margin-left: 0;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 24px;
}

.u-section-2 .u-image-1 {
  width: 715px;
  height: 499px;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  width: 715px;
  height: 511px;
  margin: 0 auto 0 183px;
}

.u-section-2 .u-image-3 {
  width: 715px;
  height: 505px;
  margin: 0 auto 0 183px;
}

.u-section-2 .u-image-4 {
  width: 715px;
  height: 505px;
  margin: 0 auto 0 183px;
}

.u-section-2 .u-image-5 {
  width: 715px;
  height: 505px;
  margin: 0 auto;
}

.u-section-2 .u-image-6 {
  width: 715px;
  height: 507px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-2 {
    margin-left: 165px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 165px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 660px;
    height: 461px;
  }

  .u-section-2 .u-image-2 {
    width: 660px;
    height: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 660px;
    height: 466px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 660px;
    height: 467px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    width: 660px;
    height: 467px;
  }

  .u-section-2 .u-image-6 {
    width: 660px;
    height: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 363px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 372px;
  }

  .u-section-2 .u-image-3 {
    width: 520px;
    height: 367px;
  }

  .u-section-2 .u-image-4 {
    width: 520px;
    height: 368px;
  }

  .u-section-2 .u-image-5 {
    width: 520px;
    height: 368px;
  }

  .u-section-2 .u-image-6 {
    width: 520px;
    height: 369px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 320px;
    height: 223px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 229px;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 226px;
  }

  .u-section-2 .u-image-4 {
    width: 320px;
    height: 226px;
  }

  .u-section-2 .u-image-5 {
    width: 320px;
    height: 226px;
  }

  .u-section-2 .u-image-6 {
    width: 320px;
    height: 227px;
  }
}