.u-section-1 .u-sheet-1 {
  min-height: 112px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  align-self: center;
  margin: 0 0 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: -12px 0 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 110px;
}

.u-section-2 .u-text-1 {
  margin: 30px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 1250px;
}

.u-section-3 .u-text-1 {
  margin: 30px 930px 0 0;
}

.u-section-3 .u-group-1 {
  width: 784px;
  min-height: 704px;
  height: auto;
  margin: 30px auto 0 170px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  line-height: 2.2;
  margin: 0 14px 0 0;
}

.u-section-3 .u-table-1 {
  width: 720px;
  height: 417px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
}

.u-block-341c-90 {
  font-weight: 700;
}

.u-block-341c-91 {
  height: 46px;
}

.u-section-3 .u-text-3 {
  width: 720px;
  margin: 19px 14px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 10px 210px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 730px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 156px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 4px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 510px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-table-1 {
    width: 660px;
  }

  .u-section-3 .u-text-3 {
    width: 660px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 330px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-table-1 {
    width: 520px;
  }

  .u-section-3 .u-text-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 130px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-table-1 {
    width: 320px;
  }

  .u-section-3 .u-text-3 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1321px;
}

.u-section-4 .u-text-1 {
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 30px 0;
}