.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/Green-Tropical-Plant-Wallpaper-Mural-Plain1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 531px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 295px;
  background-image: none;
  min-height: 312px;
  margin: 110px auto 0 48px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 -146px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 531px;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-video-1 {
  height: 375px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-1 .u-video-poster-1 {
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  background-image: url("images/7938cf56b22673ba76bb6e20a3adbbfccba5943bde3572248e105992a49f6d2e6cb31d21e6b88543589d31589c16386faccb24f0d6c7f0a261a06f_1280.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-1 .u-group-1 {
    width: 231px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 19px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 72px;
    margin-right: 19px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-1 .u-video-1 {
    height: 374px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }

  .u-section-1 .u-video-poster-1 {
    width: 51%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-1 .u-group-1 {
    width: 177px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 15px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 55px;
    margin-right: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 166px;
    margin-left: 17px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 11px;
    margin-left: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 41px;
    margin-right: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-1 .u-group-1 {
    width: 139px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 7px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 26px;
    margin-right: 7px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-1 .u-video-1 {
    height: 296px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 196%;
    left: -48%;
    height: 100%;
    top: 0%;
  }
}.u-section-2 {
  background-image: linear-gradient(#02101e, #6b9c5b);
}

.u-section-2 .u-sheet-1 {
  min-height: 335px;
}

.u-section-2 .u-group-1 {
  min-height: 253px;
  margin-top: 41px;
  margin-bottom: 41px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 280px 0 20px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  padding: 0 2px;
}

.u-section-2 .u-image-1 {
  width: 229px;
  height: 229px;
  margin: -176px 10px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 149px;
}

.u-section-3 .u-accordion-1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 50px;
  width: 50px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 29px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-pane-1 {
    height: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 60px;
}